/* CSS file for Group 4 website.
Last modified __________ */

/* Navbar formatting adapted from: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px;
    background-color: #00b300;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #008000;
  }
  
  .active {
    background-color: darkgrey;
  } /* End Navbar */

/* Color scheme from https://www.canva.com/learn/website-color-schemes/ #5 */
body {
background-color:#D7CEC7;
}


/*paragraph structuring to keep centre, 
inspired by https://www.orbitmedia.com/blog/web-design-tips/ */

.alignnone {
    margin: 5px 15px 15px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
